<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ayub</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body>
 	<div class="top-bar">
          <div class=" row large-8 columns ">
              <li><a class="txt" href="#"><h5>LOGO</h5></a></li>
          </div>
          <div class="row top-bar-right">
            <ul class="menu">
              <li><a class="txt" href="#">About</a></li>
              <li><a class="txt" href="#">Source</a></li>
              <li><a class="txt" href="#">Contact</a></li>
              </ul>
          </div>
        </div>
<p>

<div class="row">
  <div class="large-8 columns">
          <img src="img/img-blog1-900x350w.jpg"/>
      </div>
  <div class="large-4 columns">
    <h2>Business Name or Tagline</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus sed ante in cursus. Phasellus tellus purus, aliquam a pretium quis, tristique in purus. Integer placerat aliquet metus, nec fermentum tellus vehicula vel. Mauris at blandit arcu.
  </p>
<a href="#" class="button">Call to action!</a>
  </div>
</div>
<hr>
<div class="row large-8 columns">
  <div class="callout small secondary">
    <div class="small-centered  columns">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tellus purus, aliquam a pretium quis, tristique in purus.
      </p>
    </div>
  </div>

</div>

<div class="row">
  <div class="large-4 columns">
    <h2>Header 1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus sed ante in cursus. Phasellus tellus purus, aliquam a pretium quis, tristique in purus. Integer placerat aliquet metus, nec fermentum tellus vehicula vel. Mauris at blandit arcu. Aenean rutrum leo nec tellus laoreet hendrerit.
    </p>
<a href="#" class="button secondary">More info</a>
    </div>
  <div class="large-4 columns">
    <h2>Header 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus sed ante in cursus. Phasellus tellus purus, aliquam a pretium quis, tristique in purus. Integer placerat aliquet metus, nec fermentum tellus vehicula vel. Mauris at blandit arcu. Aenean rutrum leo nec tellus laoreet hendrerit.
    </p>
<a href="#" class="button secondary">More info</a>
    </div>
  <div class="large-4 columns">
    <h2>Header 3</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus sed ante in cursus. Phasellus tellus purus, aliquam a pretium quis, tristique in purus. Integer placerat aliquet metus, nec fermentum tellus vehicula vel. Mauris at blandit arcu. Aenean rutrum leo nec tellus laoreet hendrerit.
    </p>
<a href="#" class="button secondary">More info</a>
    </div>
</div>
<hr>
<div class="row">
  <div class="small-9 small-centered columns"><p>
    Ayub Khalfaoui Hadi E7.1
  </p></div>
</div>
</body>

</html>
